.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    background-color: rgb(100, 198, 237);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 2);
}

.headerWrapper{
    font-size: large;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    margin: 20px;
    gap: 30px;
}